.sub-header-container {
    margin-top: 80px;
}

.sub-heading {
    font-weight: bold;
    font-size: 50px;
}

.sub-img1 {
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 0 6px 10px;
}

.sub-description {
    margin: 30px 120px;
}

.sub-email{
    background-color: bisque;
    font-weight: bold;
    padding: 20px;
}

@media only screen and (max-width: 600px){
    .sub-heading {
        font-size: 35px;
    }
    .sub-img1 {
       width: 350px;
    }
    .sub-description {
        margin: 10px 20px;
    }   
}

@media only screen and (min-width: 601px) and (max-width: 800px){
    .sub-img1 {
        width: 450px;
     }
     .sub-description {
        margin: 20px 50px;
    }
}