body {
  margin: 0;
  padding: 0;
}
.bg-cream {
    background-color: bisque;

}
.fs-7 {
  font-size: 13px;
  font-weight: 400;
}
.w-60 {
  width: 300px;
}
.w-200 {
  height: 350px;
}
.m-30 {
  margin: 0 50px;
}
.img {
  width: auto;
  height: 250px;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  overflow: hidden;
}
.fs-24 {
  font-size: 60px;
  font-weight: 800;
}
.hover:hover {
  transform: scale(0.9);
}
.hover {
  transition: 0.3s ease-in-out;
}
