@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow');

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.not-found {
  position: relative;
  overflow: hidden;
  margin: 0 -20vw;
  height: 110vh;
}

.sky-bg {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524821915/404/bg-1_gvybzk.svg);
  height: 100%;
}

.wave-7,
.wave-6,
.wave-5,
.wave-4,
.wave-3,
.wave-2,
.wave-1 {
  position: absolute;
}

.wave-7 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-7.svg);
}

.wave-6 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-6.svg);
}

.wave-5 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-5.svg);
}

.wave-4 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-4.svg);
}

.wave-3 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-3.svg);
}

.wave-2 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-2.svg);
}

.wave-1 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-1.svg);
}

.wave-island {
  position: absolute;
  top: 130px;
  left: 20%;
  padding: 10px;
  width: 170px;
}

.wave-boat {
  position: absolute;
  top: 0;
  right: 15%;
  width: 150px;
  animation: boat 15s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

.wave-lost {
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  font-size: 20rem;
  animation: surf 2s;
}

.wave-lost span {
  float: left;
}

.wave-lost span:nth-child(2) {
  animation-delay: 2.5s;
}

.wave-lost span:nth-child(3) {
  animation-delay: 4.5s;
}

.wave-message {
  position: absolute;
  bottom: 100px;
  left: 50%;
  padding-right: 50%;
  height: auto !important;
  color: #fff;
  font-size: 3rem;
  text-align: left;
  animation: wave-message 1s;
}

@keyframes boat {
  0% {
    transform-origin: left;
    transform: rotate(-15deg) translate3d(400px, 0px, 0px);
  }
  20% {
    transform-origin: left;
    transform: rotate(15deg) translate3d(-20vw, 0, 0px);
  }
  25% {
    transform-origin: left;
    transform: rotate(-7deg) translate3d(-25vw, 0, 0px);
  }
  50% {
    transform-origin: left;
    transform: rotate(5deg) translate3d(-50vw, 0, 0px);
  }
  60% {
    transform-origin: left;
    transform: rotate(-1deg) translate3d(-60vw, 0, 0px);
  }
  100% {
    transform-origin: left;
    transform: rotate(2deg) translate3d(-100vw, 0, 0px);
  }
}

@keyframes surf {
  0% {
    transform-origin: right;
    transform: rotate(15deg) translate3d(0, 800px, 0);
  }
  30% {
    transform-origin: right;
    transform: rotate(15deg) translate3d(0, 500px, 0);
  }
  100% {
    transform-origin: right;
    transform: rotate(0) translate3d(0, 0, 0px);
  }
}

@keyframes wave-message {
  0% {
    transform: translate3d(0, 120%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
