.home-comp-1{
    background-image: url(./Home1-bg.png);
    background-color: rgb(240, 240, 234);
    
    background-size: contain;
    /* height: 80vh; */
    
}
.text-section{
    padding: 70px 0px ;
}
