.header-container{
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 55px;
}

.heading{
    font-size: 50px;
    font-weight: bold;
    width: 300px;
    padding-left: 100px;
}

.heading-title{
    font-size: 30px;
    margin-top: 60px;
    font-family: "Open Sans", sans-serif;
}

.faq-img{
    width: 500px;
    border-radius:0 50px;
}

.queans-container{
    width: 120vh;
    margin: 40px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.13),
    -20px -20px 30px rgba(0, 0, 0, 0.055);
    font-family: "Open Sans", sans-serif;
}

.about-item{
    border: 2px solid brown;
    background-color: antiquewhite;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 0;
    box-shadow: 0px 4px 6px;
}

h5{
    text-shadow: 2px 2px 5px brown;
}

span{
    font-size: 30px;
    text-shadow: 2px 2px 5px brown;
}


@media only screen and (max-width: 600px){
    .header-container{
        flex-direction: column;
    }
    .heading{
        font-size: 30px;
        margin: 0 auto;
        padding-left: 0;
    }
    .heading-title{
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
    }
    .faq-img{
        width: 250px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .queans-container{
        width: 40vh;
    }
}