.header-container{
    margin-top: 10px;
    background-color: antiquewhite;
}

.heading{
    font-size: 50px;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin-top: 60px;
    padding-left: 100px;
}

.heading-title{
    font-size: 30px;
    margin-top: 70px;
}

.faq-img{
    width: 500px;
    border-radius: 50px 0;
}

@media only screen and (max-width: 600px){
    .header-container{
        flex-direction: column;
    }
    .heading{
        font-size: 30px;
        margin: 0 auto;
        padding-left: 0;
    }
    .heading-title{
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
    }
    .faq-img{
        width: 250px;
        margin: 0 auto;
        padding-top: 20px;
    }
}