.bg{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1708388001157-25e7d411cc8f?q=80&w=2068&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}